blinker
cachetools
certifi
charset-normalizer
click
Flask
Flask-Cors
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
oauthlib
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
requests
requests-oauthlib
rsa
six
uritemplate
urllib3
Werkzeug
gunicorn
